/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

main {
  background-color: rgba(255, 255, 255, 0.35);
}
/* TITLE */

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* PLAYER SECTION */

.player {
  text-align: center;
  font-size: 50px;
}

#name--0, #name--1 {
  color: black;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .current {
  opacity: 1;
}

/* TOTAL POINTS */

h3 {
  color: red;
  font-size: 100px !important;
}

/* CURRENT POINTS */

.current {
  background-color: #F08080;
  width: 217px;
  margin-top: 200px;
}

.current-el {
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
  text-align: center;
}

.current-score {
  font-size: 65px;
  color: #FFFFFF;
}


.hidden {
  display: none;
}

/* DICE */

.dice {
  position: absolute;
  left: 50%;
  top: 40%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  height: 10rem;
}

/* BUTTONS */

.bg-white-500 {
  position: absolute;
  left: 45%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
  text-transform: uppercase;
}

#btn-newgame {
  left: 43%;
}

#btn-roll {
  top: 75%;
  left: 43%;
}

#btn-hold {
  top: 85%;
  left: 45%;
}